@model QuickAd.Models.Advertise

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advertise</legend>
        <p>@Html.TextBoxFor(title => Model.GetTitle())</p>
        <p>@Html.TextAreaFor(content => Model.GetContent())</p>
        <p>@Html.TextBoxFor(price => Model.GetPrice())</p>
@*        <p>@Html.TextBoxFor()</p>*@
        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
